* {
    margin: 0; /*let content go out to edges*/
    padding: 0;
    /*border: 1px dotted black; !*toggle borders around all elements during dev*!*/
}

/*BODY*/
body {
    background-image: url("images/landscape-aerial.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

/*NAV BAR*/
nav {
    background-color: rgba(248, 241, 231, 0.6);
    height: 80px;
}

.nav-left {
    margin-left: 30px;
}

nav ul {
    display: inline-block;
    vertical-align: middle;
}

nav ul li {
    display: inline-block; /*display on same x-axis line*/
    font-size: 20px;
}

nav a {
    color: black;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    padding: 28px 100px; /*space around link*/
    margin: 0 10px; /*space btwn links*/
}

.page:hover {
    background-color: rgba(0, 102, 204, 0.7);
    color: white;
}

.page:visited {
    color: #333333;
}

#logo {
    margin-top: 0;
}

#logo img {
    border: none;
}

/*MAIN BODY*/
.body {
    margin: 0 60px;
    background-color: rgba(248, 241, 231, 0.75);
}

h2 {
    font-size: 26px;
    padding: 10px 0;
    text-align: center;
}

p{
    font-size: 18px;
    line-height: 1.2;
    margin: 0 15px;
    text-align: center;
}

#soon {
    font-size: 20px;
}

.body span {
    font-weight: bold;
}

/*CONTACT PAGE FORM*/
.contact {
    margin: 0 80px;
}

input, select, textarea {
    width: 100%; /* Full width */
    padding: 15px; /* Some padding */
    border: 1px solid gray; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

.contact p {
    text-align: left;
    font-weight: bold;
}

.contact textarea {
    height: 250px;
}

#contact-button {
    background-color: rgba(0, 102, 204, 1.0);
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 50px;
    width: 30%;
}
